.about-us-container {
  background-color: #ffffff;
  color: #000;
  text-align: center;
}

.carousel-container {
  margin-top: 20px;
}

.team-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #fff;
  border: none;
}

.team-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.team-card .card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.carousel-item {
  padding: 20px 0;
}

h1 {
  font-weight: 700;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
}

.card-title svg, .card-text svg {
  margin-left: 8px;
  vertical-align: middle;
  color: #000;
}

.card:hover .card-title svg, .card:hover .card-text svg {
  color: grey;
}
